<nav class="navbar navbar-expand-md navbar-white bg-white">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col">
        <a class="navbar-brand" href="#" style="background-color: azure;"><img src="../../assets/logo-epn-vertical.png"
            alt="EPN" style="width: 100px;"></a>
      </div>
      <div class="col">
        <div style="color: rgb(10, 10, 10); font-size: 30px;">SISTEMA DE FACTURACIÓN</div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<hr class="p-dashed">

<br>

<div class="container p-card mt-5">
  <div class="p-d-flex p-jc-center p-ai-center filter__card">
    <form id="form" (submit)="cargarDatos(cedula.value)">
      <div class="p-fluid form__filter">
        <div class="p-field">
          <span class="p-float-label">
            <input #cedula id="cedula" type="text" pInputText />
            <label for="cedula">Cedula</label>
          </span>
        </div>
        <div class="p-field">
          <button class="p-button-rounded" type="submit" pButton>Buscar</button>
        </div>
      </div>
    </form>
  </div>

  <input #searchInput pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
    placeholder="" />

  <button pButton type="button" icon="pi pi-refresh" (click)="dt.reset(); searchInput.value=''"></button>
  <p-table #dt [value]="estudiantes" [globalFilterFields]="[
    'codmat',
    'materia',
    'paralelo',
    'horas',
    'aula',
    'ubicacion',
          'funcion',
         'est',
          'tabla.nroSesiones',
          'tabla.lunes',
          'martes',
          'miercoles',
          'jueves',
         'viernes',
          'sabado',
         'hSimul',
         'fechaI',
          'fechaF',
        'horarioF',
        'codcar',
          'carrera',
         'facultad',
  ]" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [style]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Lista {first} de {last} por {totalRecords} busquedas">
    <ng-template pTemplate="caption">

      <div class="ordenar" style="text-align: center;">
        <h4>Ordenar Por </h4>
        <p-sortIcon pSortableColumn="codmat" field="codmat"></p-sortIcon>
      </div>
    </ng-template>
    <ng-template pTemplate="header">

      <tr>
        <th>Codmat</th>
        <th>Materia</th>
        <th>Paralelo</th>
        <th>Horas</th>
        <th>Aula</th>
        <th>Ubicación</th>
        <th>Función</th>
        <th>Est</th>
        <th>NroSesiones</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
        <th>HSimul</th>
        <th>FechaI</th>
        <th>FechaF</th>
        <th>HorarioF</th>
        <th>Codcar</th>
        <th>Carrera</th>
        <th>Facultad</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tabla>
      <tr [ngClass]="{'tabla-green': tabla.horas > 4, 'tabla-red': tabla.horas <= 4}">
        <td>{{tabla.codmat}}</td>
        <td>{{tabla.materia}}</td>
        <td>{{tabla.paralelo}}</td>
        <td>{{tabla.horas}}</td>
        <td>{{tabla.aula}}</td>
        <td>{{tabla.ubicacion}}</td>
        <td>{{tabla.funcion}}</td>
        <td>{{tabla.est}}</td>
        <td>{{tabla.nroSesiones}}</td>
        <td>{{tabla.lunes}}</td>
        <td>{{tabla.martes}}</td>
        <td>{{tabla.miercoles}}</td>
        <td>{{tabla.jueves}}</td>
        <td>{{tabla.viernes}}</td>
        <td>{{tabla.sabado}}</td>
        <td>{{tabla.hSimul}}</td>
        <td>{{tabla.fechaI}}</td>
        <td>{{tabla.fechaF}}</td>
        <td>{{tabla.horarioF}}</td>
        <td>{{tabla.codcar}}</td>
        <td>{{tabla.carrera}}</td>
        <td>{{tabla.facultad}}</td>
      </tr>
    </ng-template>
    <ng-template #confirmationTemplate let-data>
      <div class="confirmation-dialog">
        <h3>{{ data.title }}</h3>
        <p>{{ data.message }}</p>
        <div class="buttons">
          <button (click)="data.confirm()" pButton type="button" label="{{ data.confirmLabel }}"></button>
          <button (click)="data.reject()" pButton type="button" label="{{ data.rejectLabel }}"></button>
        </div>
      </div>
    </ng-template>



  </p-table>
  <p-table>



  </p-table>

</div>





<!-- <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card>
 -->